<h1>Welcome {{ username }}!</h1>
<a href="{% url 'stocks:portfolio' %}">My Portfolio</a>
<form id="quicksearch-form">
    <input type="text" placeholder="Enter Ticker" id="quicksearch-input">
    <button type="submit">Search</button>
</form>

<!-- Logout Form -->
<form action="{% url 'accounts:logout' %}" method="post" id="logout-form">
    {% csrf_token %}
    <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
</form>

<!-- JavaScript to handle dynamic form action for quick search -->
<script>
    document.getElementById('quicksearch-form').addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission

        var symbol = document.getElementById('quicksearch-input').value.toUpperCase(); // Get the ticker symbol from input
        var actionUrl = '/stocks/' + symbol + '/'; // Construct the URL

        window.location.href = actionUrl; // Redirect to the constructed URL
    });
</script>
