{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ stock.symbol }} - {{ stock.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>{{ stock.symbol }} - {{ stock.name }}</h1>
        </header>

        <!-- Container for the chart -->
        <div class="chart-container">
            <canvas id="stockPriceChart" width="1200" height="600"></canvas>
        </div>



        <div>
            <h2>Get Predictions:</h2>
            <form method="post" action=".">
                {% csrf_token %}
                <input type="date" name="start_date" required>
                <select name="forecast_horizon">
                    <option value="7">7 Days</option>
                    <option value="30" selected>30 Days</option>
                    <option value="90">90 Days</option>
                </select>
                <button type="submit" name="predict" class="nav-link">Predict Prices</button>
            </form>
        </div>        



        <div>
            <h2>Latest Price:</h2>
            {% if stock.price_set.first %}
                <p><strong>Date:</strong> {{ stock.price_set.first.date }}</p>
                <p><strong>Open:</strong> {{ stock.price_set.first.o }}</p>
                <p><strong>High:</strong> {{ stock.price_set.first.h }}</p>
                <p><strong>Low:</strong> {{ stock.price_set.first.l }}</p>
                <p><strong>Close:</strong> {{ stock.price_set.first.c }}</p>
                <p><strong>Volume:</strong> {{ stock.price_set.first.v }}</p>
            {% else %}
                <p>Price data not available.</p>
            {% endif %}
        </div>

        <div>
            <h2>Company Details:</h2>
                <p><strong>Asset Type:</strong> {{ stock.asset_type }}</p>
                <p><strong>Description:</strong> {{ stock.description }}</p>
                <p><strong>CIK:</strong> {{ stock.CIK }}</p>
                <p><strong>Currency:</strong> {{ stock.currency }}</p>
                <p><strong>Country:</strong> {{ stock.country }}</p>
                <p><strong>Sector:</strong> {{ stock.sector }}</p>
                <p><strong>Industry:</strong> {{ stock.industry }}</p>
                <p><strong>Address:</strong> {{ stock.address }}</p>
                <p><strong>Fiscal Year End:</strong> {{ stock.fiscal_year_end }}</p>
                <p><strong>Latest Quarter:</strong> {{ stock.latest_quarter }}</p>
        </div>

        <div>
            <!-- Add order form -->
            <h2>Place Order:</h2>
            <form method="post" class="auth-form">
                {% csrf_token %}
                <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                {{ form.shares }}
                {{ form.order_type }}
                {{ form.transaction_date }}
                <button type="submit" name="add" class="nav-link">Add Order</button>
            </form>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        </div>

        <nav class="navigation">
            <a href="{% url 'stocks:portfolio' %}" class="nav-link">Back to Portfolio</a>
            <a href="{% url 'user_home' %}" class="nav-link">Back to Home</a>
        </nav>

    </div>

    <!-- Chart rendering script -->
    <script>
        var dates = JSON.parse('{{ dates|safe }}');
        var closingPrices = JSON.parse('{{ closing_prices|safe }}');
        var pred = JSON.parse('{{ predictions|safe }}');

        const data = {
            labels: dates,
            datasets: [{
                label: 'Closing Price',
                data: closingPrices,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        if (pred) {
            var forecastDates = pred['forecast_dates'];
            var predictedPrices = pred['predicted_prices'];

            data.datasets.push({
                label: 'Predicted Price',
                data: predictedPrices,
                fill: false,
                borderColor: 'rgb(255, 99, 132)',
                tension: 0.1,
                zIndex: 0
            });
            data.datasets.reverse();
        }

        const ctx = document.getElementById('stockPriceChart').getContext('2d');
        const stockPriceChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                responsive: false,
                maintainAspectRatio: true
            }
        });
    </script>
</body>
</html>





